@import url('https://fonts.googleapis.com/css?family=Exo+2|Lobster');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    scroll-behavior: smooth;
}

body {
    background-color: #ccc;
    line-height: 2;
    max-width: 980px;
    margin: auto;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    max-width: 200px;
    margin: auto;
    border: 2px dashed pink;
    outline: 1px solid black;
    margin-bottom: 30px;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 5px;
    padding: 0;
    list-style: none;
    margin: auto;
}

.main-nav a {
    background: #ddd;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.main-nav a:hover {
    background: #333;
    color: #fff;
}

.showcase {
    height: 400px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.showcase h1 {
    font-size: 4rem;
    margin-top: 40px;
    text-align: right;
    margin-right: 20px;
    color: #8895c9;
    text-shadow: 0 3px 1px rgba(000, 000, 000, 0.8);
    margin-bottom: 0px;

}

.showcase p {
    font-size: 1.7rem;
    margin-bottom: 0;
    text-align: right;
    margin-right: 20px;
    color: black;
    text-shadow: 1px 1px 1px rgba(000, 000, 000, 0.8);
}

#reserch,
h3 {
    background: #ddd;
    display: block;
    padding: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #333;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    word-spacing: 5px;
    letter-spacing: 1.5px;
}

#btnReserch {
    display: block;
}


.marker {
    width: 100%;
}

.info {
    border: 1px solid #ccc;
    text-align: justify;
    box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    padding: 30px 30px;

}

.static {
    width: 95%;
    float: right;
    padding-top: 20px;
}

table {
    width: 100%;
    padding: 10px;
}

#price {
    width: 100%;
    border-color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
    border-spacing: 8px;
}

th,
td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 2px grey;
    margin: 4px;
}

th {
    background-color: #669999;
    box-shadow: 2px 1px 5px black;
    color: white;
}

tr:hover {
    color: red;
}

#hoursOfWork {
    margin-top: -15px;
    padding-left: 80px;
    padding-right: 80px;
}

#hoursOfWork li {
    line-height: 30px;
    border-bottom: 2px solid #a7c6da;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#hoursOfWork li:last-child {
    border-bottom: none;
}
.list-unstyled-opening-hours {
    margin-top: 20px;
}

#adrs,
#phone,
.icons {
    text-align: center;
}

.footer {
    margin-top: 2rem;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.conteiner .send {
    background-color: #ccc;
    color: #333;
    font-weight: bold;
    max-width: 170px;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 1px 5px black;
    border: 1px solid rgba(104, 104, 104, 0.8);
    margin: auto;
    margin-top: 30px;
}

.send:hover {
    background-color: pink;
}

.transparent {
    max-width: 70%;
    margin: 10px auto 0;
    background-image: url(../img/mail.png);
    border-style: outset;
}

.form-inner input:focus,
#textarea:focus {
        background: rgba(255, 255, 255, 1);
}

.form-inner input,
#textarea {
    display: block;
    width: 100%;
    border-width: 0;
    line-height: 40px;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.4);
    font-family: 'Roboto', sans-serif;
    font-family: Verdana;
    font-size: 1rem;
    box-shadow: 2px 1px 5px rgba(104, 104, 104, 0.9);

}

i {
    font-family: fontawesome !important;
    font-size: 70px;
    padding: 0;
    margin: 0;
}

@media(min-width: 500px) {
    .main-nav ul {
        padding: 0;
        display: flex;
        margin: auto;
        justify-content: space-between;
        margin-top: -10px;
    }
    .main-nav li {
        width: 25%;
    }
    .static {
        width: 40%;
        float: right;
        margin: 20px;
    }

    .infoCtc {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }
    .marker {
        max-width: 600px;
        float: right;
        margin-right: 10px;
        margin-top: 20px;
        box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    }
    .transparent {
    max-width: 90%;
    padding: 50px 60px;
    margin: 10px auto 0;
    background-image: url(../img/mail.png);
    }
}

a {
    text-decoration: none;

}

.dropdown {
    display: block;
    background-color: transparent;
}

.popover__title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.popover__wrapper {
    position: relative;
    margin-top: 1rem;
    display: block;
    box-shadow: 2px 1px 5px rgba(104, 104, 104, 0.9);
    max-width: 350px;
}

.popover__content {
    background: white;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 10px);
    padding: 1rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: auto;
    font-family: Lobster, cursive;
}

.popover__content:before {
    position: absolute;
    z-index: -1;
    content: '';
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #BFBFBF transparent;
    transition-duration: 0.3s;
    transition-property: transform;
}

.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover__message {
    text-align: right;
    padding: 0;
    margin: 0;
}
